/* header */
.container{
    width: 420px;
    height: 100px;
    background-color: white;
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.item1{
    width: 200px;
    height: 75px;
    border-radius: 5px;
    font-size: 200%;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.color1{
    background-color: rgb(11, 241, 11);
}
.color2{
    background-color: rgb(123, 179, 123);
}
.color3{
    background-color: rgb(201, 192, 192);
}
h1{
    text-align: center;
    color: rgb(0, 207, 207);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h2{
    position: absolute;
    right: 0;
    top: 0;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    
}
p{
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

 /* Thông tin Liên hệ */
 .foot{
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 600px ;
    display: grid;
    align-items: end;
}
.address{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    height: 50px;
}
.zalo{
    height: 50px;
    background-color: rgb(60, 57, 228);
    font-weight: bold;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
}
.facebook{
    background-color: rgb(17, 240, 165);
    font-size: 250%;
    font-weight: bold;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* circle */
.mid-container{
    

    width: 100%;
    height: 400px;
    display: flex;
}
.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: gray;
  }
.infor{
    margin-left: 50px;
    width: 500px;
    height: 300px;

}
  