#wrapre{
    max-width: 960px;
    margin: auto;
   
    background-color: rgb(232, 238, 238);
}
header{
    display: flex;
    margin-bottom: 10px;
}
header .a{
    background-color: rgb(11, 171, 118);
    
    width: 180px;
    height: 70px;
    border-radius: 20px 20px;   
}
.box{
    height: 80px;
    line-height: 70px;
    padding-top: 10px;
    display: flex;
    width: 600px;
    font-size: 30px;
    color: aliceblue;
    text-align: center;   
}
header p{
    margin-left: 500px;
}
table{
    border: 1px solid;
    width: 960px;
}